~*
.*history
.antigen
.cache
.zcompdump*
.zdirs
.zgen
*.bak
*.local
*.zwc
*.zwc.old
*history
zplugins/
.zprezto/
.antibody/
.zcompcache/
.zsh_sessions/
.ohmyzsh/
.oh-my-zsh/
.zsh_custom/
plugins/
!functions/plugins
!*functions/plugins
.zplugins/
.zprezto-contrib/
*.local.zsh
foo.*
.zsh_plugins.zsh
