~*
.*history
.cache
.zcompcache/
.zcompdump*
.zdirs
.zsh_sessions/
*.bak
*.local
*.local.zsh
*.zwc
*.zwc.old
.zsh_history
.zhistory
foo.*

# plugins
.antibody/
.antigen
.zgen
.zplugins
.zplugins/
.zsh_plugins.zsh
plugins/
zplugins/

# frameworks
.oh-my-zsh/
.ohmyzsh/
.omz/
.zprezto-contrib/
.zprezto/
.zsh_custom/
